<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728824700368-bija3schq8uu2iqk98n81ttp7jcf8fl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728824700368-bija3schq8uu2iqk98n81ttp7jcf8fl1</string>
	<key>API_KEY</key>
	<string>AIzaSyDSy7xLJgmCdXACVW_uBxQ0I2TSIHfWZk0</string>
	<key>GCM_SENDER_ID</key>
	<string>728824700368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.judytsai.CafeList</string>
	<key>PROJECT_ID</key>
	<string>cafelistapp-318003</string>
	<key>STORAGE_BUCKET</key>
	<string>cafelistapp-318003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728824700368:ios:ae630d78c653049bb1edd5</string>
</dict>
</plist>